body {
	margin: 0px;
	margin: 0px;
	background-color: #fbf1c7;
	color: #1d2021;
	font-size: large;
}

#content {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}

article {
	z-index: -2;
	padding: 1em 2em;;
}

#profile img {
	float: right;
	
	height: 10em;
	width: auto;

	margin: 0px;
	padding: 0px;
}

footer {
	text-align: center;
	z-index: 1;
	margin: 0px;
	padding: 0.5em;
	padding-bottom: 1em;
	background-color: green;
}
