body {
	margin: 0px;
	margin: 0px;
	background-color: #f9f5d7;
	color: #1d2021;
	font-size: large;
	font-family: sans-serif;
}

#content {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	margin: 0px;
	padding: 0px;
}

footer {
	text-align: center;
	margin: 0px;
	padding: 0.5em;
	padding-bottom: 1em;
	line-height: 0.4em;
	background-color: #8ec07c;
}

footer > a {
	text-decoration: none;
	color: #3c3836;
	padding: 3px;
	margin: 0px;
}

a :hover {
	color: #ebdbb2;
	background-color: #427b58;
	box-shadow: 10px 10px 10px #1d2021;
}
