nav {
	float: left;
	padding: 1em;

	min-width: 12.5em;
	
	background-color: #282828;
	color: #ebdbb2;
	
}

nav ul {
	list-style-type: none;
	position: fixed;
	padding: 0px;
	margin: 0px;
}

nav li {
	padding: 0.8em;
}

nav a {
	color: #fbf1c7;
	text-decoration: none;
}

